@model IEnumerable<SlotViewModel>
<partial name="_GaragesMenu" />

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.ParkingSlot)</th>
			<th>@Html.DisplayNameFor(model => model.InUse)</th>
			<th>@Html.DisplayNameFor(model => model.ParkedVehicles)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var g in Model)
		{
			<tr>
				<td>@g.ParkingSlot</td>
				<td>@g.InUse</td>
				<td>@g.ParkedVehicles</td>
				<td>
				</td>
			</tr>
		}
	</tbody>
</table>

<div>
	<a asp-action="GaragesList">Back to List</a>
</div>
