@model IEnumerable<GaragesViewModel>
<partial name="_GaragesMenu" />

<table class="table">
    <thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
			<th>@Html.DisplayNameFor(model => model.Size)</th>
			<th>@Html.DisplayNameFor(model => model.SlotSize)</th>
			<th></th>
		</tr>
    </thead>
    <tbody>
@foreach (var g in Model) {
		<tr>
			<td>@g.Name</td>
			<td>@g.Size</td>
			<td>@g.SlotSize</td>
			<td>
				<a asp-action="GarageEdit" asp-route-id="@g.Id">Edit</a> |
				<a asp-action="GarageSlots" asp-route-id="@g.Id">Slots</a> |
				<a asp-action="GarageDelete" asp-route-id="@g.Id">Delete</a>
			</td>
		</tr>
}
    </tbody>
</table>
