@model IEnumerable<ParkedVehicleViewModel>
<partial name="_OverViewsMenu" />

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.VehicleType)</th>
			<th>@Html.DisplayNameFor(model => model.LicensePlate)</th>
			<th>@Html.DisplayNameFor(model => model.ParkedAt)</th>
			<th>@Html.DisplayNameFor(model => model.ParkedTime)</th>
			<th>@Html.DisplayNameFor(model => model.Owner)</th>
			<th>@Html.DisplayNameFor(model => model.MembershipLevel)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var v in Model)
		{
		<tr>
			<td>@v.VehicleType</td>
			<td>@v.LicensePlate</td>
			<td>@v.ParkedAt</td>
			<td>@v.ParkedTime</td>
			<td>@v.Owner</td>
			<td>@v.MembershipLevel</td>
			<td><a asp-controller="Vehicles" asp-action="CheckOutTemp" asp-route-vehicleid="@v.Id">CheckOut</a></td>
		</tr>
		}
	</tbody>
</table>
@if (Model.FirstOrDefault() == null) { 
	<p>No Vehicles found</p>
}
