@model IEnumerable<SearchMembersViewModel>
<partial name="_OverViewsMenu" />

<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.FirstName)</th>
			<th>@Html.DisplayNameFor(model => model.LastName)</th>
			<th>@Html.DisplayNameFor(model => model.Email)</th>
			<th>@Html.DisplayNameFor(model => model.VehiclesOwned)</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var p in Model)
		{
		<tr>
			<td>@p.FirstName</td>
			<td>@p.LastName</td>
			<td>@p.Email</td>
			<td>@p.VehiclesOwned</td>
			<td><a asp-action="MemberDetails" asp-route-id="@p.Id">Details</a></td>
		</tr>
		}
	</tbody>
</table>
@if (Model.FirstOrDefault() == null)
{
	<p>No members found</p>
}
